@import "tailwindcss";

:root {
  --bg: #f9fafb;
  --text: #111827;
}

.dark {
  --bg: #0f172a;
  --text: #e5e7eb;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.skeleton-shimmer {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}
